  {{!-- <a href="/artist/{{id}}">
  <div class="ui fluid card">
        <img src="{{user_image}}">
      </div>
      <div class="content">
        <a class="header">{{name}}</a>
        <p>{{socials}}</p>
      </div>
 </div>
</a> --}}

<div class="ui fluid card">
  <div class="image">
    <img src="{{user_image}}">
  </div>
  <div class="content">
    <a href="/artist/{{id}}" class="header">{{name}}</a>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
         {{socials}}
    </a>
  </div>
</div>