<div class="ui card">
    <div class="image">
    <img src="https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3">
    </div>
    <div class="content">
    <div class="header">{{ event_name }} by {{ User.name }}</div>
    <div class="meta">
        <a>{{address}}</a>
    </div>
    <div class="description">
        {{ date }} {{ content }}
    </div>
    </div>
</div>


