<a>
<div class="ui stackable card">
    <div class="image">
    <img class="genreimage" src="{{event_image}}">
  </div>
  <div class="content">
    <div class="header"><a href="/artist/{{artist_id}}">{{User.name}}</a></div>
    <div class="description">
      <a href="/events/{{id}}">{{event_name}}</a>

    </div>
    <div class="meta">
      <a>{{address}}</a>
    </div>
    <div class="description">
      {{date}} 
      {{time}}
    </div>
  </div>
</div>
</a>

