{{!-- added in the anchor tag to link to corresponding genre page --}}
<a href="/genres/{{ id }}">
<div class="ui fluid card">
    <div class="image">
    <img class="genreimage" src="{{ banner }}">
    {{!-- insert {{image}} into src when ready --}}
    
    </div>
    <div class="content">
        <div class="header">{{ name }}</div>
        <div class="meta">
            <a>{{address}}
        </div>
        <div class="description">
            {{ date }} {{ content }}
        </div>
    </div>
    </a>
</div>
</a>

{{!-- <div>
    <a href="/genres/{{id}}">
    <div class="card">
    {{name}}
    </div>
    </a>
</div> --}}
