<section>
  <div id="event-image"><img src="{{event.event_image}}"></div>
  <div id="event-name">{{event.event_name}}</div>
  <div id="artist-name"><a href="/artist/{{event.artist_id}}">{{event.User.name}}</a></div>
  <div id="event-description">{{event.content}}</div>
  <div id="artist-socials">{{event.User.socials}}</div>
  <div id="submit-signup"><button>Sign Up</button></div>
</section>

{{! Insert data from eventRoutes, GET request for individual event
Elements that can be clicked will have to link to the corresponding routes/pages }}